@charset"uft-8";
body{
    margin: 0px;
    background-color: rgb(228, 226, 226);
}
.head{
    height: 100px;
    
    text-align: center;
    background-color: rgba(226, 224, 224, 0.555);
    position: relative;
    
}
.head img{
    height:100px;
    position:absolute;
    left:35px;
}
.head h1 {
    margin-top: 10px;
    margin-bottom: 2px ;
    display: inline-block;

}
div small{
    display: block;
}
.head p{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 2px solid rgb(155, 155, 155);
}
 
.guiding {
    width: 100%;
    height: 40px;
    background: #7c4a24;
    float: left;
    position: relative;
    }
   .guiding .guiding1{
        position: absolute;
        top:1px;
        color: rgb(224, 224, 224);
}
th:hover{
    color: rgb(10, 10, 10);
    background-color: rgba(255, 255, 255, 0.219);
}
.lunbo{
    position: relative;
   width: auto;
   height: 249px; 
   overflow: hidden;
   margin: 0px auto;
   border: 10px solid rgb(160, 105, 61);
   border-left: auto solid   rgb(160, 105, 61);
   border-right: auto solid   rgb(160, 105, 61);
   
  
   }
 .lunbo-imge{  
    width: 5200px ;
    height: 249px;
    position: absolute;
   
     }
    .imge{
        
        width: 1221px;
         float: left;
     }
    .bottom{
        width: 60px;
        height:10px;
        position: absolute;
        bottom:10px;
        right: 30px;
    
    }
    .bot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(170, 170, 170);
        float: left;
        margin: 1px 5px;
        cursor: pointer;
        
    }
    .bod h1{
        color: rgba(207, 204, 30, 0.849);
        margin: 0px 0px 10px 0px;
        padding: 10px;
        text-align: center;
        background-color: rgb(160, 105, 61);

    }
    sup{
        background-color: red;
        border-radius: 30%;
        color: wheat;
    }
    .box1 img{
        width: 200px;
        height: 200px;
     
    }

    .box1 span{
        margin-top: 5px;
        margin-bottom: 10px;
     font-size: 12px;
     display: block;
     color: red;
    }
    .box1 del{
        color: rgb(155, 155, 155);
        
    }
   .bod .box1{
       text-align: center;
       width: 200px;
       height: 200px;
       border: 1px solid rgb(155, 155, 155);
       float: left;
       margin:10px 20px 100px 16px;
       
   }
   .bod a:hover{
       color: red;
       text-decoration: none;

   }
   .box1 img:hover{
       border: 1px solid red;
       
   }
   fieldset{
       margin-bottom: 10px;
   }